# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=pkc-lzvrd.us-west4.gcp.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=WXJQNIAQ3YJHU4H3
sasl.password=gt7uf4JuihInsz9qeM3R67vYZ2moQe65jQrRklGIOiRgoj/k3TYg7HUkfG5YmViq

# Best practice for higher availability in librdkafka clients prior to 1.7
session.timeout.ms=45000

# Required connection configs for Confluent Cloud Schema Registry
schema.registry.url=https://{{ pkc-lzvrd.us-west4.gcp.confluent.cloud:9092 }}
basic.auth.credentials.source=USER_INFO
basic.auth.user.info={{ WXJQNIAQ3YJHU4H3 }}:{{ gt7uf4JuihInsz9qeM3R67vYZ2moQe65jQrRklGIOiRgoj/k3TYg7HUkfG5YmViq }}
