# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=SASL_SSL://pkc-6ojv2.us-west4.gcp.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=WGPOXEDDN4TCLLLN
sasl.password=+TVQYsgqjdOBRJo2l1SLEwg1z3OQegWMAauG19DicxzyvXphZB5cj2O6Q3h8AXMy

# Best practice for higher availability in librdkafka clients prior to 1.7
session.timeout.ms=45000

# Required connection configs for Confluent Cloud Schema Registry
schema.registry.url=https://{{ pkc-6ojv2.us-west4.gcp.confluent.cloud:9092 }}
basic.auth.credentials.source=USER_INFO
basic.auth.user.info={{ WGPOXEDDN4TCLLLN }}:{{ +TVQYsgqjdOBRJo2l1SLEwg1z3OQegWMAauG19DicxzyvXphZB5cj2O6Q3h8AXMy }}
